.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: #fff;
  }
  
  .tab-button {
    padding: 12px 24px;
    margin-top: 25px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: 2px solid #a29b91;
    border-radius: 25px;
    color: #cbbfa7;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tab-button:hover {
    background-color: #c7b8a7; 
    color: #0f0f0f;
  }
  
  .tab-button.active {
    background-color: #b5a687; 
  }
  
  